.square {
    width: 200px;
    height: 200px;    
    padding: 20px;
    border: 2px solid red;
}

div {
    padding: 10px;
}

input {
    margin-bottom: 10px;
}

#input11 {
    width: 200px;
}

#input12 {
    width: 300px;
}

#input18 {
    width: 200px;
}